<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoMap</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <header>
        <h1>GeoMap</h1>
    </header>
    <main>
        <form>
            <fieldset>
                <legend>Log In</legend>
                USERNAME: <input name="uname" id = "uname" type= "text">
                <br><br>
                PASSWORD: <input name="p" id = "p" type = "password">
                <br><br>
                <input type="submit" value="SEND"> 
            </fieldset>
        </form>

        <nav>
            <a href="/signin">SIGN IN</a> <br>
        </nav>
    </main>
    <footer>

    </footer>
</body>
</html>